.leaderboard-user {
  display: flex;
  margin: 10px 0;
  padding: 10px;
  width: 320px;
}

.leaderboard-user .marker {
  position: absolute;
  left: 490px;
  z-index: 10000;
  background-color: #8df2f2;
  padding: 5px;
  color: white;
}

.current {
  border: 2px solid #8df2f2;
  border-radius: 20px;
}

.leaderboard-content {
  display: flex;
  flex-direction: row;
}
.leaderboard-details {
  margin: 5px 20px;
}

.leaderboard-details span {
  display: inline-block;
  width: 133px;
  font-weight: 200;
}

.leaderboard-details > .name {
  color: #f280aa;
}

.leaderboard-details > .detail {
}
.leaderboard-score {
  font-weight: bold;
  text-align: center;
  padding: 5px 15px 0 0;
}

.leaderboard-score span {
  font-weight: 100;
}

.leaderboard-score div {
  font-size: 30px;
}
