.category-bar {
  border-bottom: 1px solid #77c7d9;
  height: 33px;
}

.category-bar > .selected {
  background-color: #77c7d9;
  color: white;
  font-weight: 600;
}

.category-btn {
  border: none;
  padding: 15px;
  cursor: pointer;
}

.category-btn:hover {
  background-color: #8df2f2;
  color: #77c7d9;
}
