.status-bar {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 10px 0;
  height: 45px;
}

.login-avatar {
  background-size: 40px;
  width: 40px;
  height: 40px;
}

.login-button {
  background-color: #f2c4d0;
  border-style: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.user {
  display: flex;
  align-items: center;
}

.user div {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.name {
  font-size: 20px;
}
